{% extends 'room/room.html' %}

{% block content %}
<div>
	<form action="" method="POST">
		<div class="p-2">
			<h2>Delete Room</h2>
			{{form.hidden_tag()}}
			<hr>
			{{form.id()}}
			<p>If you delete this room, all it's bookings will have missing room information.</p>

			<p>Are you sure you want to delete this room?</p>

			<hr>
			
			<div class="form-group" align="right">
				<a href="{{url_for('room_bp.edit_room', id=room.id)}}" class="btn btn-secondary">No Cancel</a>
				{{form.submit(class="btn btn-danger")}}
			</div>
		</div>
	</form>
</div>
{% endblock %}