{% extends 'base.html' %}

{% block body %}
<div class="p-2">
    <h2>
        Rooms
        <a href="{{url_for('room_bp.register_room')}}" class="btn btn-success float-right"><span class="fa fa-home">&plus;</span></a>
        <button id="searchToggle" data-toggle="collapse" data-target="#searchForm" class="btn btn-success float-right mx-1"><span class="fa fa-search"></span></button>
        <button data-toggle="modal" data-target="#filterFormModal" class="btn btn-success float-right"><span class="fa fa-filter"></span></button>
    </h2>

    <form id="searchForm" class="collapse">
        <div class="input-group mb-2">
            <input type="text" name="query" class="card p-2" id="inlineFormInputGroup" placeholder="Search">
            <div class="input-group-append">
                <button class="btn btn-success btn-block">Search</div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="filterFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    {% include 'room/filter-room.html' %}
                </div>
            </div>
        </div>
    </div>

	<table class="table table-responsive-sm border">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Room Number</th>
                <th scope="col">Pricing Category</th>
                <th scope="col">...</th>
            </tr>
        </thead>

        <tbody>
            {% for room in rooms %}
                <tr>
                    <td>{{room.id}}</td>
                    <td>{{room.name}} ({{room.status()}})</td>
                    <td>{{room.pricing_category.name}}</td>
                    <td>
                        <div class="dropdown dropright">
                            <button class="btn btn-sm btn-secondary fa fa-navicon shadow-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{url_for('room_bp.get_room_bookings', id=room.id)}}">Bookings</a>
                                <a class="dropdown-item" href="{{url_for('booking_bp.register_booking', room_id=room.id)}}">Book</a>
                                <a class="dropdown-item" href="{{url_for('room_bp.edit_room', id=room.id)}}">Edit</a>
                                <a class="dropdown-item" href="{{url_for('room_bp.delete_room', id=room.id)}}">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if rooms|length == 0 %}
        <div class="container" align="center">
            <label class="display-4 text-muted">No rooms!</label>
        </div>            
    {% endif %}
</div>

{% endblock %}