{% extends 'base.html' %}

{% block body %}
<div class="login-content">
	<form action="" method="POST">
		<div class="p-2">
			<h2>Register Pricing Category</h2>
			<hr>
			{{form.hidden_tag()}}
			<div class="form-group">
				<label>{{form.name.label}} <span class="text-danger">*</span></label>
				{{form.name(class="form-control")}}
				{% for error in form.errors.name %}<small class="text-danger">{{error}}</small> {% endfor %}
			</div>

			<div class="form-group">
				<label>{{form.description.label}}</label>
				{{form.description(class="form-control", size="3")}}
				{% for error in form.errors.description %}<small class="text-danger">{{error}}</small>{% endfor %}
			</div>

			<label>Pricing (At least 1 must be set) <span class="text-danger">*</span></label>
			<br>
			{% for error in form.errors.pricing %}<small class="text-danger">{{error}}</small> {% endfor %}
			<div class="card p-2 bg-light">
				<div class="form-group">
					<small>{{form.price_per_day.label}}</small>
					{{form.price_per_day(class="form-control", type="number")}}
				</div>
				<div class="form-group">
					<small>{{form.price_per_week.label}}</small>
					{{form.price_per_week(class="form-control", type="number")}}
					<!-- {% for error in form.errors.price_per_week %}<small class="text-danger">{{error}}</small> {% endfor %} -->
				</div>
				<div class="form-group">
					<small>{{form.price_per_month.label}}</small>
					{{form.price_per_month(class="form-control", type="number")}}
					<!-- {% for error in form.errors.price_per_month %}<small class="text-danger">{{error}}</small> {% endfor %} -->
				</div>
			</div>

			<hr>
			
			<div class="form-group">
				{{form.submit(class="btn btn-success btn-block")}}
			</div>
		</div>
	</form>
</div>
{% endblock %}